{snippet ajaxEvents}
    {foreach $pixelId as $id}
        <script>
            {foreach $ajaxEvents as $event}
                fbq('track', {$event->name}, {
                    {foreach $event->items as $variable => $value}
                        {$variable|noescape}: {$value},
                    {/foreach}
                });
            {/foreach}
        </script>
    {/foreach}
{/snippet}